
.delete{
  margin: 20px 5px 5px 0;
  color: white;
  background: red;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.edit{
  margin: 20px 5px 5px 0;
  color: white;
  background: darkgray;
  border: 1px solid gray;
  border-radius: 5px;
}
