<div
*ngIf="result"
[routerLink]="[messageId]"
>
  <p>{{ result.date }}</p>
  <h3>{{ result.title }}</h3>
  <i>{{ result.text }}</i>
  <br>
  <button [routerLink]="['/edit']" class="edit">edit</button>
  <button (click)="deleteMess(result.id)" class="delete">delete</button>
  <hr>
</div>

