<form (ngSubmit)="sendMessage()" class="formSend">
    <input type="text" id="title" [(ngModel)]="title" name="title" placeholder="Введите заголовок">
  <br>
    <textarea id="text" cols="15" rows="3" [(ngModel)]="text" name="text" placeholder="Введите сообщение"></textarea>
  <br>
  <button type="submit" >send</button>
</form>
