<form
(ngSubmit)="renameMessage()"
  class="formSend"
>
  <input type="text" id="title" [(ngModel)]="title" name="title">
  <br>
  <textarea id="text" cols="15" rows="3" [(ngModel)]="text" name="text"></textarea>
  <br>
  <input type="date" [(ngModel)]="date" name="date">
  <br>
  <button type="submit">send</button>
</form>


