.container{
  width: 100%;
  display: flex;
}

.list{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: darkgray;
  margin: 0;
}

.link{
  color: darkslateblue;
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.link:hover{
  color: coral;
}

.active{
  color: white;
}

.col-1,
.col-2 {
  padding: 20px;
  width: 40%;
  margin-right: 40px;
}

.loader {
  margin: 10px auto;
  border: 5px solid darkgray;
  border-top: 5px solid coral;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

