<div class="container">
  <div class="col-1">
    <ul class="list">
      <li>
        <a routerLink="/" routerLinkActive="active" class="link"
           [routerLinkActiveOptions]="{exact: true}">home</a>
      </li>
      <li>
        <a routerLink="/add" routerLinkActive="active" class="link"
           [routerLinkActiveOptions]="{exact: true}">add</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" class="link"
           [routerLinkActiveOptions]="{exact: true}">about</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" class="link"
           [routerLinkActiveOptions]="{exact: true}">contacts</a>
      </li>
    </ul>

    <div *ngIf="preloader" class="loader"></div>
    <div *ngIf="!preloader">
      <div
        *ngFor="let mess of message; let i = index"
      >
        <i>{{ mess.date }}</i>
        <h4>{{ mess.title}}</h4>
        <button [routerLink]="[mess.id]" (click)="addToId(mess.id)">Read more >></button>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-2">
    <router-outlet></router-outlet>
  </div>

</div>

